<!-- HTML fragment. Requires ../assets/product-system.css -->
<div class="qn-select-list" style="position:static;width:min(320px,100%)">
  <label class="qn-choice"><input type="checkbox" checked><span>Выбранный вариант</span></label>
  <label class="qn-choice"><input type="checkbox"><span>Неактивный вариант</span></label>
</div>
  <link rel="stylesheet" href="../../shared/bilingual-switcher.css?v=20260925-public-layout-2" data-nr-bilingual-switcher>
  <script src="../../shared/bilingual-switcher.js?v=20260925-public-layout-2" data-nr-locale="ru" data-nr-bilingual-switcher data-nr-public-root="true" defer></script>
