<!-- HTML fragment. Requires ../assets/header-system.css and ../assets/header-system.js -->
<div class="meta-list">
        <span class="meta-item"><span class="meta-item__label">Период</span><b class="meta-item__value" id="bonds-period-output">D</b></span>
        <span class="meta-item"><span class="meta-item__label">Выпусков</span><b class="meta-item__value">3 070</b></span>
        <span class="meta-item"><span class="meta-item__label">Срез</span><b class="meta-item__value">10.07.2026</b></span>
      </div>

