<!-- HTML fragment. Requires ../assets/header-system.css and ../assets/header-system.js -->
<div class="meta-list">
        <span class="meta-item"><span class="meta-item__label">Период</span><b class="meta-item__value" id="bonds-period-output">D</b></span>
        <span class="meta-item"><span class="meta-item__label">Выпусков</span><b class="meta-item__value">3 070</b></span>
        <span class="meta-item"><span class="meta-item__label">Срез</span><b class="meta-item__value">10.07.2026</b></span>
      </div>
  <link rel="stylesheet" href="../../shared/bilingual-switcher.css?v=20260925-public-layout-2" data-nr-bilingual-switcher>
  <script src="../../shared/bilingual-switcher.js?v=20260925-public-layout-2" data-nr-locale="ru" data-nr-bilingual-switcher data-nr-public-root="true" defer></script>
